.footer {
  background-color: #111;
  color: #eee;
  padding: 1rem;
  text-align: center;
  margin-top: auto; /* empurra pro fim */
}

.footer p {
  margin-bottom: 0.5rem;
}

.social-icons a {
  color: #ccc;
  margin: 0 0.5rem;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}