* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4; /* cinza clarinho */
  color: #222;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  flex: 1;
}